<?xml version="1.0" encoding="utf-8" ?>
<Configuration status="error">
    <Properties>
        <Property name="LOG_HOME">./log</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!--${kidd:a}为自定义Lookup-->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} ${kidd:a} - %msg%n"/>
        </Console>
        <RollingRandomAccessFile name="simpleLogFile" fileName="${LOG_HOME}/simple.log"
                                 filePattern="${LOG_HOME}/simple-%d{yyyy.MM.dd HH-mm-ss}-%i.log">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="7">
                <Delete basePath="${LOG_HOME}">
                    <IfFileName glob="simple*.log"/>
                    <IfAccumulatedFileCount exceeds="7"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <Routing name="Routing">
            <Routes pattern="$${kidd:random}">
                <Route>
                    <File name="logFile-${kidd:random}"
                          fileName="${LOG_HOME}/concurrent-${kidd:random}.log">
                        <PatternLayout pattern="%d %-5p [%t] %C{2} ${kidd:random} - %m%n "/>
                    </File>
                </Route>
            </Routes>
        </Routing>
        <Async name="async" bufferSize="1000" includeLocation="true">
            <AppenderRef ref="Routing"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="com.kidd.demos" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="simpleLogFile"/>
        </Logger>
        <Logger name="routingLogger" level="warn" additivity="true">
            <AppenderRef ref="Routing"/>
        </Logger>
    </Loggers>
</Configuration>
