<?xml version="1.0" encoding="utf-8" ?>
<Configuration status="error">
    <Properties>
        <Property name="LOG_HOME">./log</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} ${kidd:a} - %msg%n"/>
        </Console>
        <JDBC name="DatabaseAppender" tableName="log">
            <ConnectionFactory class="com.kidd.demos.log4j.LogConnectionFactory"
                               method="getDatabaseConnection"/>
            <Column name="log_time" pattern="%d{HH:mm:ss}"/>
            <Column name="log_msg" pattern="%msg"/>
        </JDBC>
        <RollingRandomAccessFile name="simpleLogFile" fileName="${LOG_HOME}/simple.log"
            filePattern="${LOG_HOME}/simple-%d{yyyy.MM.dd HH-mm-ss}-%i.log">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="7">
                <Delete basePath="${LOG_HOME}">
                    <IfFileName glob="simple*.log"/>
                    <IfAccumulatedFileCount exceeds="7"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="com.demo.kidd.log4j2.Log4j2Demo" level="trace" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="DatabaseAppender"/>
            <AppenderRef ref="simpleLogFile"/>
        </Logger>
    </Loggers>
</Configuration>